<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Story Board
      </a>
    </div>
    <div class="pull-right">
      <a href="/stories/new" class="btn btn-default navbar-btn">New Story</a>
    </div>
  </div>
</nav>