<fieldset>
<legend>Story</legend>
<!-- TITLE -->
<div class="form-group">
<label for="stories-title">Title</label><br>
<input class="form-control" id="stories-title" type="text" name="title" value="{{stories.title}}"/>
</div>

<!-- AUTHOR -->
<div class="form-group">
<label for="stories-author">Author</label><br>
<input class="form-control" id="stories-author" type="text" name="author" value="{{stories.author}}" />
</div>

<!-- TEXT -->
<div class="form-group">
<label for="stories-content">Story</label><br>
<textarea class="form-control" id="stories-content" name="content" rows="50" />{{stories.content}}</textarea>
</div>

<!-- BUTTON -->
<div class="form-group">
<button type="submit">Save Story</button>
</div>
</fieldset>