<form method="POST" action="/stories">
  <fieldset>
    <legend>New Story</legend>
    <!-- TITLE -->
    <p>
      <label for="title">Title</label><br>
      <input type="text" name="title" />
    </p>
    <p>
      <label for="author">Author</label><br>
      <input type="text" name="author" />
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Story</button>
  </p>

</form>